__pycache__
.vscode
models/
ida_files/
metadatasets/
deprecated_files/
reference_data/
generate*
analysis/
visualizations/
errors_uncertainty/
figs/
ranking_scripts/
utils/data/codebase/
utils/data/assets/datasets/m3/
utils/data/assets/datasets/m4/
utils/data/assets/datasets/tourism/
*_old.py*
*_data.py*
.ipynb_checkpoints/
.DS_Store