catboost==1.2.7
datasetsforecast==0.0.8
imbalanced_learn==0.12.0
lightgbm==4.5.0
matplotlib==3.8.0
metaforecast==0.1.6
mlforecast==0.13.4
numpy==1.24.3
optuna==3.6.1
pandas==2.2.3
scikit_learn==1.3.0
shap==0.45.0
statsforecast==1.7.3
tsfeatures==0.4.5
utilsforecast==0.1.10
xgboost==2.1.2
