catboost==1.2.7
datasetsforecast==0.0.8
imbalanced_learn==0.12.4
lightgbm==4.5.0
matplotlib==3.10.0
metaforecast==0.1.7
mlforecast==0.13.4
numpy==2.2.1
optuna==4.0.0
pandas==2.2.3
scikit_learn==1.6.0
scipy==1.15.0
shap==0.46.0
statsforecast==1.7.8
tsfeatures==0.4.5
utilsforecast==0.2.5
xgboost==2.1.3
